@font-face {
    font-family: 'RomanticGumi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiRomanceTTF.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}